services:
  - type: web
    name: votre-frontend
    # env: static
    buildCommand: npm run build
    staticPublishPath: ./dist  # Important : Vite utilise 'dist', pas 'build'
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache