.myBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #082374;
  background: linear-gradient(90deg, rgba(8, 35, 116, 1) 45%, rgba(85, 111, 189, 1) 67%, rgba(91, 8, 116, 1) 100%, rgba(45, 52, 189, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.whiteBox {
  background-color: white;
  padding: 20px;
  min-width: 300px;
  height: 70%;
  width: 25%;
  border: 1px solid;
}

.itemBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.title {
  font-size: 30px;
  color: black;
}

.myForm,
.myButton {
  width: 100%;
}

.myButton {
  background: #16244d !important;
}